<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

Calendar designed by <a href="http://www.thenounproject.com/____Lo">Laurent Patain</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

Clock designed by <a href="http://www.thenounproject.com/NicholasBurroughs">Nicholas Burroughs</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

Tags designed by <a href="http://www.thenounproject.com/winthropite">Mike Jewett</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

External Link designed by <a href="http://www.thenounproject.com/katiewestbrook">Katie Westbrook</a> from the <a href="http://www.thenounproject.com">Noun Project</a>

Share designed by <a href="http://www.thenounproject.com/misirlou">misirlou</a> from the <a href="http://www.thenounproject.com">Noun Project</a>