<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>

<%= link_to 'Episodes', admin_episodes_path, class: "btn btn-primary" %>
<%= link_to 'Users', admin_users_path, class: "btn btn-primary" %>