Welcome <%= @user.name %>

  
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">My Feed</a></li>
  <li role="presentation"><a href="#">Watch Later</a></li>
  <li role="presentation"><a href="#">Activity</a></li>
</ul>