<h1>Explore</h1>

<div class="container">
  Browse interesting projects, solving all types of interesting problems.
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h3>Some really cool content</h3>
      <p><a href="#">5 Repositories</a> <a href="#">4 Languages</a></p>
    </div>
  </div>
</div>